extends ../layout

block content
  li
    a(href="") 
      img(src=book.ImageUrl, class="img-item")
  h1 #{title='Tến sách'}: #{book.title}
  
  p #[strong Tác giả:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong Tóm lược:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Thể loại:]&nbsp;
    each val in book.genre
      a(href=val.url) #{val.name}
      |, 
  hr
  p
    a(href=book.url+'/delete') 
      button.btn.btn-danger Xóa sách
  p
    a(href=book.url+'/update')
      button.btn.btn-danger Cập nhật sách
  li
    a(href='/catalog/bookinstance/create') Tạo phiên bản sách mới  
  div(style='margin-left:20px;margin-top:20px')
    h4 Bản sao
    
    each val in book_instances
      hr
      if val.status=='Available'
        p.text-success #{val.status}
      else if val.status=='Maintenance'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status} 
      p #[strong Imprint:] #{val.imprint}
      if val.status!='Available'
        p #[strong Due back:] #{val.due_back}
      p #[strong Id:]&nbsp;
        a(href=val.url) #{val._id}
 
    else
      p Không có bản sao của cuốn sách này trong thư viện.


