extends layout

block content
  h1= title
  p Chào mừng đến với Cuốn sách của tôi
  
  h1 Nội dung
  
  if error
    p lỗi tải nội dung động.
  else
    p Thư viện có số lượng bản ghi sau:
    
    ul
      li #[strong Sách: ] !{data.book_count} 
      li #[strong Bản sao:] !{data.book_instance_count}
      li #[strong Các bản sao có sẵn:] !{data.book_instance_available_count}
      li #[strong Tác giả:] !{data.author_count}
      li #[strong Thể loại:] !{data.genre_count}



